.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  border-radius: .5rem;
  border: transparent;
  background-color: #1E6F9F;
  transition: .2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #4EA8DE;
  transition: .2s;
}

.btn span {
  font-size: .875rem;
  font-weight: 700;
  color: #F2F2F2;
}

@media screen and (max-width: 797px) {
  .btn span {
    display: none;
  }
}