.input {
  flex: 1 0 0;
  width: 28.1875rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: .5rem;
  border: 1px solid #0D0D0D;
  background-color: #1A1A1A;
  color: #F2F2F2;
  outline: none;
}

.input::placeholder {
  color: #808080;
}

.input:focus {
  border: 1px solid #5E60CE;
}